
.footer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #51034f;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    color: white;
}
.footer img{
    margin-right: 0rem;
    border-radius: 50%;
}
.header .imgutp{
    width: 130px;
}
.imgutp{
    width: 550;
}
.footer h3, footer a{
    margin-left: 2.5%;
    font-weight: normal;
    font-size:1.3rem;
}
@media (min-width: 768px){
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}



} 



.imagen{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header .titulo{
    margin-right: 2%;
    font-size: 1.2rem;
}

.header img{
    
    border-radius: 50%;
}
.header div{
    font-family: "Euclid Circular A", Poppins;
   
}
.header h1{
    margin-top: 1%;
    color: #68086c;
}

.merror{
    font-size: x-large;
    text-shadow: 0vw 0vw 35px;
    font-weight: bold;
}
.footerP1{
    font-size: 1.2rem;
    margin-left: 15%;
    text-align: right;
    align-self: flex-start;
    margin-top: 1%;
    border: 2px solid transparent;
    border-right-color: white;
    padding-right: 2%;
}
.footerP2{
    font-size: 1.2rem;
    margin-left: 2%;
    text-align: left;
    align-self: flex-start;
    margin-top: 1%;
}
.footerP1 a, .footerP2 a{
    text-decoration: none;
    color: white;
    margin-bottom: 0.2%;
}

.imagen p{
    font-size: 2rem;
    
    margin-top: 1%;
}



.block.author {
    background: #f7f7fe;
  }

  .block.author .block-title {
      
    color: #4c4954;
  }

  .author-card {
      margin-right: 2rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.15rem;
    min-width: 14rem;
    border-color: #4c4954;
    border-radius: 0.5rem;
    color: white !important;
    background: purple;
    box-shadow: 0 45px 75px rgba(58, 35, 91, 0.09);
  }

  .author-img {
    width: 4rem;
    height: 4rem;
  }

  .author-h2 {
    margin: 0 0 2px;
    line-height: 1;
    font-weight: 600;
    font-size: 1.575rem;
  }

  .author-h3 {
    margin: 0;
    line-height: 1;
    font-weight: 600;
    font-size: 1.25rem;
    color: #a19eab;
  }

  .block-component {
      padding-bottom: 2%;
display: flex;
align-items: center;
justify-content: center;

}
.a{
    margin-right: 5%;
    border-radius: 0.4rem;
}
