body{
    margin: 0px;
}
.footer{
    display: flex;
    align-items: center;
    background-color: #51034f;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    color: white;
}
.footer img{
    margin-left: 12%;
    border-radius: 50%;
}
.footer h3{
    font-size: small;
    margin-left: 2.5%;
    font-weight: normal;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.2%;
}
.header img{
    margin-left: 12%;
    border-radius: 50%;
}
.header div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1%;
}
.header h1{
    margin-top: -3%;
    color: #68086c;
}
.merror{
    font-size: x-large;
    text-shadow: 0vw 0vw 35px;
    font-weight: bold;
}
.footerP1{
    margin-left: 15%;
    font-size: small;
    text-align: right;
    align-self: flex-start;
    margin-top: 1%;
    border: 2px solid transparent;
    border-right-color: white;
    padding-right: 2%;
}
.footerP2{
    font-size: small;
    margin-left: 2%;
    text-align: left;
    align-self: flex-start;
    margin-top: 1%;
}
.footerP1 a, .footerP2 a{
    text-decoration: none;
    color: white;
    margin-bottom: 0.2%;
}