body{
    margin: 0px;
}
.footer{
    display: flex;
    align-items: center;
    background-color: rgb(243, 171, 77);
    padding-top: 2.5%;
    padding-bottom: 2%;
}
.footer img{
    margin-left: 12%;
    border-radius: 50%;
}
.footer h3{
    font-size: medium;
    margin-left: 2.5%;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.2%;
}
.header img{
    margin-left: 12%;
    border-radius: 50%;
}
.header div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1%;
}
.header h1{
    margin-top: -3%;
    color: rgb(243, 144, 16);
}