.text-center {
    text-align: center; }
  
  /** Media Queries **/
  html {
    font-size: 62.5%;
    box-sizing: border-box; }
  
  *, *:before, *:after {
    box-sizing: inherit; }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem; }
  
 
  
    span{
      color: #FFFFFF;
    }
  .contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
  
  a {
    text-decoration: none; }
  
  img {
    max-width: 100%; }
    img {
      border-style: none; }
  
 
  
  h1 {
    font-size: 1rem; }
  
  h2 {
    color: #e7e7e7;
    font-size: 2.3rem; }
  
  h3 {
    font-size: 3rem;
    text-align: center; }
  
  body {
    background-color: #681A5D; }
  
  @media (min-width: 768px) {

    .contenedor-estetica {
      height: 100vh;
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(2, 1fr);
     }
    
     header{
          width: 100%;
          margin-left: -20rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 2rem;
        }

        
        header .utp{
          border-radius: 100%;
          padding: 0.5rem;
          background: #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: start;
width: 150px;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;      
       }

    
    }

@media (max-width: 767px){
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  header p{
    margin-bottom: 2rem;
  }
    
} 
  
  
    header .utp{
      border-radius: 100%;
      padding: 0.5rem;
      background: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: start;
width: 150px;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;      
   }
   
    
  
  .contenedor-estetica .imagen {
    height: 30rem;
    background-image: url(../Imagenes/3.jpg_large);
    background-size: cover;
    background-position: center center; }
    @media (min-width: 768px) {
      .contenedor-estetica .imagen {
        height: auto; } }

          
  


        .logear{
          
          display: grid;
          place-items: center;
        }
        

        .user.password, .user.username{        
          padding: 0;
          margin-bottom: 1rem;
        }
        
        .user  {
          border: transparent;
          display: flex;
          align-items: center;
          gap: 0.9rem;
          height: 6rem;
          padding: 0 1rem;
          border-radius: 0.25rem;
          background: white;
          box-shadow: 0 45px 75px rgba(58, 35, 91, 0.09);
          
        }
        .input-style{
          height: 100%;
        
        }
        .icon{
          padding: 1rem;
          color: black;
          font-size: 1.9rem;
          
        
        }
        form{
          margin-bottom: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
        }
        
        
        .padding, .margin{
          
          padding: 0;
          margin: 0;
        }
        input{
          border: transparent;
          color: black;
          font-weight: 700;
          font-size: 1.5rem;
          outline: none;
          background: transparent;
          

        }

        .Vaciar-ingresar{
          display: flex;
          text-align: center;
          justify-content: center;
        }
        .block-component{
         
          margin-top: 4rem;
        }

        .block.opacity {
        
          background: #f7f7fe;
        }

        .block.opacity .block-title {
          color: #4c4954;
        }

        .opacity-card {
          padding: 1rem;
          border-radius: 0.5rem;
          color: #4c4954;
          background: #ffffff;
          box-shadow: 0 45px 75px rgba(58, 35, 91, 0.09);
        }

        .opacity-checkbox-label {
        
          display: flex;
          gap: 1rem;
          align-items: center;
        }

        .opacity-checkbox-input {
          position: absolute;
          transform: scale(0);
        }

        .opacity-checkbox-text {
          transition: opacity 0.35s;
        }

        .opacity-checkbox-input:checked ~ .opacity-checkbox-background {
          background: #e7e7e7;
        }

        .opacity-checkbox-input:checked ~ .opacity-checkbox-text {
          opacity: 0.25;
        }

        .opacity-checkbox-input:checked
          ~ .opacity-checkbox-background
          .opacity-checkbox-icon {
          opacity: 0;
        }

        .opacity-checkbox-background {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          border-radius: 0.25rem;
          background: #1ac0a2;
        }

        .opacity-checkbox-icon {
          font-size: 1.75rem;
          color: white;
        }

        .contra-olv{
          background: #ffffff;
          padding: 1.2rem;
          border-radius: 2rem 2rem 2rem 2rem;
        }

        .contra-olv input{
          cursor: pointer;
          color: #000;
          font-weight: 600;
        }

        .contra-olv input:hover{
          text-decoration: underline;

        }
      
      
     
       
        header p{
          color: #e7e7e7;
          font-size: 2rem;
          font-weight: 600;
        }

       

        .enlaces{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 1rem;
        }
       
        .yet-olv{
         color: white;
          padding: 0.2rem;
          border-radius: 2rem 2rem 2rem 2rem;
        }
        .yet-olv a{
          color: white;
        }

        .yet-olv a:hover{
          text-decoration: underline;
          color:#e7e7e7;
        }

        .iniciar input{
          cursor: pointer;
          border-radius: 1rem 1rem 1rem 1rem;
          background: #ffffff;
          padding: 1.2rem;   
        }

        .iniciar input:hover{
          background: #e7e7e7;
        }

        .from--recuperar{
          color: #FFFFFF;
        }

        .user-recuperar{
            border: transparent;
            display: flex;
            align-items: center;
            gap: 0.9rem;
            max-width: 90%;
            height: 6rem;
            padding: 0 1rem;
            border-radius: 0.25rem;
            background: white;
            box-shadow: 0 45px 75px rgba(58, 35, 91, 0.09);
            
          
        }
        .item input{
          cursor: pointer;
          background-color: #fff;
          color: #4c4954;
          padding: 1.2rem;
          border-radius: 0.5rem;
          
        }
        .item{
         
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          max-width: 90%;
        }
        .item input:hover{
          text-decoration: underline;
        }

.msg{
  max-width: 90%;
}
        .msg h4{
      font-size: 1.5rem;
        }

        .msg p{
          text-align: center;
          margin: 0;
          font-weight: 600;
          text-overflow: ellipsis;
          text-transform:uppercase;
        }

        .p{
          max-width: 90%;
        }

        .exito{
          color: green;
        }
        
        .error{
          color:red;
        }

        .cuenta{
          font-size: 2.3rem;
          margin-left: 0.5rem;
          color: #a4a4a4;
          font-weight: 600;

        }
        .cuenta:hover{
          color: #f7f7fe;
        }

        .title{
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 3rem;
         color: white;
        }

        .h2{
          border-right: 2px solid #ffffff;
          padding-right: 4rem;
        }


        .block.stacked {
          background: #373942;
        }

        .stacked-alert {
          display: grid;
          gap: 1rem;
          grid-template-columns: auto 1fr;
          align-items: center;
          width: 26rem;
          height: 5.5rem;
          padding: 0 1rem;
          border-radius: 0.5rem;
          color: #4c4954;
          background: #ffffff;
          border-left: 0.5rem solid;
          box-shadow: 0 45px 75px rgba(58, 35, 91, 0.09);
        }

        .stacked-alert:not(:last-child) {
          margin-bottom: 1rem;
        }

        .stacked-alert-icon {
          font-size: 1.7rem;
          color: inherit;
        }

        .stacked-alert-text {
          font-weight: 600;
          color: #45424d;
        }

        .stacked-alert--danger {
          color: #d45759;
          border-color: #d45759;
        }

      

        .block-inner {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


.block-component {
display: flex;
align-items: center;
justify-content: center;
height: 9rem;

}