body{
    margin: 0px;
}
.ImagenTituloNoticia{
    display: flex;
    align-items: center;
}
.h3TituloNoticia{
    margin-left: 5%;
}
.NoticiasMenu{
    display: flex;
    width: 94%;
    justify-content: space-evenly;
}
.ComidasDeCafeterias{
    display: flex;
    justify-content: space-evenly;
}
.DiferentesMenus{
    border: 1px solid black;
    width: auto;
}
.ComidasMenu{
    margin: 1.8%;
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HacerPedido{
    display: flex;
    justify-content: space-between;
}
.HacerPedido button a{
    text-decoration: none;
    color: black;
}
.HacerPedido button{
    padding-top: 0%;
}
.FotoComida{
    margin-left: 17.5%;
    margin-top: 5%;
}
.FotoComida:hover{
    opacity: 80%;
}
.Noticias{
    width: 40%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.Noticias p, h1{
    text-align: center;
}
.Menu{
    width: 71%;
    margin-right: -2.5%;
}
.card {
    padding-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33%;
    margin: 1.25%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.RadioButtons input{
    transition: all .35s;
    align-items: center ;
}
hr{
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.NomCafeteria{
    margin-left: 2.5%;
}
.CafCentral, .CafEdi1PB, .CafEdi1P2, .CafFisc{
    display: flex;
    align-items: center;
    background-color: rgb(118, 118, 118);
    color: white;
}
.CafCentral h1, .CafEdi1PB h1, .CafEdi1P2 h1, .CafFisc h1{
    margin-left: 10%;
    margin-right: 12%;
}