body{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    overflow-x: hidden;
}
.ImagenTituloNoticia{
    display: flex;
    align-items: center;
}
.h3TituloNoticia{
    margin-left: 1%;
}
.iconoProductos{
    width: 33%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.combos{
    margin-left: 2%;
    width: 90%;
}
.pedirCombo{
    width: 100%;
    background-color: #68086c;
    margin-bottom: -10%;
    margin: 1.8%;
    padding: 2px 16px;
}
.pedirCombo h2{
    margin-left: 4%;
    margin-right: -4%;
    color: white;
}
.comboC{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: -1.8% 0% 1.5% 1.8%;
    background-color: #f6f6f6;
}
.NoticiasMenu{
    display: flex;
    width: 94%;
    justify-content: space-evenly;
}
.ComidasDeCafeterias{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
    background-color: #f6f6f6;
}
.DiferentesMenus{
    border: 1px solid black;
    width: auto;
}
.ComidasMenu{

    margin-top: 1rem;
   display: flex;
   text-align: center;
   justify-content: space-between;
   flex-direction: column;
}
.comidas-titulo{
   font-size: 1.3rem;
   color: gray;
}
.precio{
    color: red;
    font-size: 1rem;
}
.HacerPedido{
    display: flex;
    justify-content: space-between;
    margin-right: 0.5%;
    background-color: #68086c;
}
.HacerPedido h2{
    margin-left: 4%;
    margin-right: -4%;
    color: white;
}
.HacerPedido button{
    margin-top: 15%;
    margin-right: 10%;
    margin-left: -10%;
}
.HacerPedido button a{
    text-decoration: none;
    color: black;
    font-size: 1vw;
}
.card img{
    border-radius: 0px 15px 15px 15px;
}
.FotoComida{
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    filter: drop-shadow(2px 6px 4px black);
}
.FotoComida:hover{
    opacity: 80%;
}
.Noticias{
    width: 40%;
    margin-left: 2.5%;
}
.Noticias p, h1{
    text-align: center;
}
.Menu{
    width: 60%;
    margin-left: 5%;
}
.card {
    padding-top: 2%;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33.3%;
    margin: 1.25%;
    max-height: 50%;
}
.card:hover {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
}
.RadioButtons input{
    transition: all .35s;
    align-items: center ;
}
hr{
    margin-left: 2.5%;
    margin-right: 2.5%;
}


.enlaces{

    display: flex;
    padding: 1rem;
    letter-spacing: 1px;
    justify-content: space-evenly;
    background-color: #68086c; 
    font-size: large;
    color: white;
}
nav a{
    text-decoration: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    color: white;
    transition: all 0.35s;
}

nav a:hover{
    text-decoration: underline;
}
.navEspecial{
   text-decoration: underline;
   text-decoration-style: 1px;
}
.NomCafeteria{
    margin-left: 2.5%;
}
.CafCentral, .CafEdi1PB, .CafEdi1P2, .CafFisc{
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    color: white;
}
.CafCentral h1, .CafEdi1PB h1, .CafEdi1P2 h1, .CafFisc h1{
    margin-left: 10%;
    margin-right: 12%;
}
.fotoUser{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -5.2%;
}
.Carrito{
    border-right-color: black;
    margin-right: 2%;
}
.fotoUser .FPerfil{
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 50%;
    border: 2px solid black;
    border-left: black;
    border-top: black;
}
.Titulo{
    margin-bottom: 0%;
    background-color: #51034f;
    padding: .5%;
}
.radios{
    margin-bottom: 1.5%;
    margin-top: -1.5%;
    display: flex;
    justify-content: center;
}
.radios input:hover{
    cursor: pointer;
}
.botones{
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: large;
    background-color: #51034f;
    border-radius: 2px;
    color: white;
    border: 0px solid;
    padding: 0.5%;
    transition: all 0.35s;
    border: 1px solid white;
    padding-left: 2%;
    padding-right: 2%;
}
.botones:hover{
    transition: all 0.35s;
    background-color: #51034f;
    border: 1px solid white;
}
.botones a{
    text-decoration: none;
    color: white;
}
.OpcionesPedido{
    background-color: #e8e8e8;
}
.formPedido{
    display: flex;
    justify-content: space-evenly;
}
.formPedido h3{
    margin-bottom: 0%;
    font-size: x-large;
}
.formPedido select{
    font-size: medium;
}
.PagarCancelar, .tdEspecial{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}
.tdEspecial input{
    margin-right: 5%;
    padding-top: -1%;
    padding-bottom: -1%;
}
.PagarCancelar .botones{
    background-color: #68086c;
    font-size: x-large;
}
.PagarCancelar .botones:hover{
    background-color: #51034f;
}
.btnHacerPedido{
    background-color: #68086c;
    padding: 0.2% 5% 0.2% 5%;
    border-radius: 3px 10px;
    color: white;
    transition: all 0.35s;
    animation: 3s infinite alternate hacerPedido;
}
.btnHacerPedido:hover{
    background-color: #51034f;
}
.soloCuatro{
    width: 109%;
    background-color: #51034f;
    justify-content: space-around;
}
.soloCuatro .card{
    width: 22%;
    float: left;
}

@keyframes hacerPedido{
    0%{
        border: 4px solid blue;
    }
    50%{
        border: 4px solid white;
    }
    100%{
        border: 4px solid red;
    }
}
.inventario{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    align-items: center;
    justify-content: flex-start;
}
.inventario select{
    font-size:  large;
    margin-left: 5%;
    border-radius: 5px;
}
.tBody td{
    font-size: large;
}
.inventarioBotones{
    display: flex;
    justify-content: center;
}
.inventarioBotones input{
    margin-left: 5%;
}
tr th, tr td{
    font-size: 1.6vw;
}
.TituloCompleto h1{
    font-size: 4vw;
}
@media screen and (max-width: 768px){
    .header div{
        font-size: 1.6vw;
    }
    .Fperfil{
        display: none;
    }
    .dropdown-content a{
        font-size: 1.8vw;
    }
    .radios{
        width: 100%;
    }
    .dropbtn{
        font-size: 1.8vw;
    }
    .soloCuatro .card{
        width: 30%;
    }
    nav{    
        font-size: 1.6vw;
        padding: 2% 0%;
    }
    .Noticias{
        margin-left: 5%;
    }
    .ComidasDeCafeterias{
        display: inline;
        justify-content: center;
    }
    .ComidasDeCafeterias div{
        width: 100%;
    }
    .ComidasDeCafeterias div{
        margin-left: -.5%;
    }
    .h3Titulo{
        width: 55%;
    }
   
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.img{
    width: 150px;
    height: 140px;
}
@media (min-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 1rem;
    }

    .div1 { grid-area: 1 / 1 / 3 / 7; }
    .div2 { grid-area: 3 / 1 / 7 / 5; }
    .div3 { grid-area: 3 / 5 / 5 / 7; }
    .div4 { grid-area: 5 / 5 / 7 / 7; }
}

.div1 p,.div2 p, .div3 p, .div4 p{
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    background-color: #51034f;
    color: white;
    padding: 2rem;
}

.div3,.div4 {
    margin-right: 2%;
}

.nav{
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: purple;
    right: 0px;
    height: 92vh;
    top: 10.2vh;
    width: 50%;
    transform: translateX(100%);
    opacity: 1;
    transition: transform 0.5s ease-in;
    z-index: 1;
}
        
.nav li, a{
    margin-right: 1rem;
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}
        
.nav li{
    opacity: 0;
    font-size: 1rem;
}

.ul-active{
    transform: translateX(0%);
}    


@keyframes ulFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
        
.div1 p,.div2 p, .div3 p, .div4 p{
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    background-color: #51034f;
    color: white;
    padding: 2rem;
}
.div3,.div4 {
    margin-right: 2%;
}

.ab h2{
    color: white;
}
.me{
    padding: 0 5% 0 10%;
}
.tablasGrandes{
    width: 94%;
    margin: 0 0 2% 3%;
}
.camposCrearEditar{
    margin: 2% 0 1% 1.6%;
}